.topSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  /* font-weight: 800;
  font-size: 30px; */
}

.headerText {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
}

.recording {
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
}

.message {
  color: grey;
  font-size: 18px;
  margin: 20px;
}

.buttonSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* padding: 100px; */
  width: 100%;
  margin-bottom: 40px;
}

.listSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80%;
  margin: auto;
}

.listTitle {
  align-self: flex-start;
  font-weight: 600;
  font-size: 24px;
}

.buttonDark {
  margin: 5px;
  background-color: red;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
